*pyc
/develop_eggs
/cache
/venv
\.venv

/corpus-django
makina-states*-deploy.log
settings_local.py
src/
salt*password*py
kgs.cfg
makina-states.flask-deploy.log
.buildout/
.installed.cfg
.mr.developer.cfg
/bin/
/eggs/
/lib/
/dist/
salt.cfg
salt_config.py
local_settings.py
*.egg-info
*.mo
salt*check.py
*/*/localsettings.py
local_dev.py
local_prod.py
local_test.py
**/*/settings/local.py
*.sqlite3
