*pyc
/develop_eggs
/cache
/venv/
/develop_eggs/

/corpus-django
makina-states*-deploy.log
settings_local.py
src/
salt*password*py
kgs.cfg
makina-states.flask-deploy.log
.buildout/
.installed.cfg
.mr.developer.cfg
/bin/
/eggs/
/lib/
/dist/
salt.cfg
salt_config.py
local_settings.py
settings_local.py 
