# Python
*pyc
__pycache__
/develop_eggs
/cache
/venv
\.venv

# Deployment
/corpus-django
makina-states*-deploy.log
settings_local.py
src/
salt*password*py
kgs.cfg
makina-states.flask-deploy.log
.buildout/
.installed.cfg
.mr.developer.cfg
/bin/
/eggs/
/lib/
/dist/
salt.cfg
salt_config.py
*.egg-info
*.mo
salt*check.py

# Django settings
local_settings.py
*/*/localsettings.py
**/*/settings/local.py
local_dev.py
local_prod.py
local_test.py

# BDD
*.sqlite3

# Tests, docs, etc
.coverage
.tox
docs/_build/

# IDE settings
.idea
