--allow-all-external
-f http://cairographics.org/releases/
-f http://dist.plone.org/thirdparty/
--allow-unverified cherrypy
--allow-unverified genshi
--allow-unverified mongodb
Django
Jinja2 == 2.7.2
MarkupSafe == 0.23
Werkzeug == 0.9.4
itsdangerous == 0.24
nose == 1.3.3
SQLAlchemy == 0.9.4
Pillow
djangorestframework
django-cors-headers
python-dateutil
pycurl
requests
ipython
gunicorn
django-extensions
django-finalware
