"""
Override final prod environment settings
"""
import os

SECRET_KEY = ''  # Set a secure secret key please! Can we use env variable?

ALLOWED_HOSTS = []  # Hostname is REQUIRED, add it!

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

DEFAULT_FROM_EMAIL = ''
SERVER_EMAIL = ''
ADMINS = ()

MYSITE_PUBLIC_DIR = os.path.join(BASE_DIR, '...', 'public')
STATIC_ROOT = os.path.join(MYSITE_PUBLIC_DIR, 'static')
MEDIA_ROOT = os.path.join(MYSITE_PUBLIC_DIR, 'media')

STATIC_URL = '/static/'
MEDIA_URL = '/media/'
