#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

makina-projects.projectname:
  data:
    PROJECT: mysite
    SITE_ID: 1
    app_root: "{project_root}/{PROJECT}"
    htaccess: "/etc/{name}.webaccess"
    py_root: "{project_root}/venv"
    media_source: "{app_root}/media"
    domain: "{fqdn}"
    requirements: "{project_root}/requirements.txt"
    server_aliases: []
    LANGUAGE_CODE: fr-fr
    DATE_FORMAT: 'iso-8601'
    DJANGO_SETTINGS_MODULE: "{PROJECT}.settings"
    WSGI: "{PROJECT}.wsgi:application"
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
    ALLOWED_HOSTS:
      - localhost
      - 127.0.0.1
      - "{domain}"
      - "{fqdn}"
      - "10.5.0.1"
    CORS_ORIGIN_ALLOW_ALL: 'True'
    adminmail: "root@{domain}"
    timezone: 'Europe/Paris'
    admins:
      - foo:
          mail: "{adminmail}"
          password: {{salt['mc_utils.generate_stored_password'](
                           'corpus-django_web_admin')}}
    db:
      ENGINE: 'django.db.backends.sqlite3'
      NAME: "{data_root}/{PROJECT}.sqlite"
    ### 
    #db:
    #  default:
    #    ENGINE: 'django.db.backends.postgresql_psycopg2'
    #    USER: '{name}'
    #    PORT: '5432'
    #    HOST: '127.0.0.1'
    #    NAME: 'db'
    #    PASSWORD: '{name}secret'
    static: "{data_root}/static"
    media: "{data_root}/media"
    host: localhost
    port: 8180
    workers: 10
    worker_class: sync
    DEBUG: False
    py: "{py_root}/bin/python"
    USE_X_FORWARDED_HOST: True
    SECRET_KEY: "{{salt['mc_utils.generate_stored_password'](
                           'corpus-django_web_secret_key', 64)}}"
    # http_users:
    #   - root: foo
    #ADDITIONAL_TEMPLATE_DIRS:
    #  - '{project_root}/calanques'
  env_defaults:
    dev:
      DEBUG: True
# vim:set ft=yaml:
