#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

makina-projects.projectname:
  data:
    PROJECT: project
    fixperms_cron_periodicity: "0 */2 * * *"
    app_root: "{project_root}/src"
    locale_cwd: "{app_root}"
    #app_url: "git@git.foo/goo.git"
    #app_url_rev: "master"
    #app_url_type: git
    #app_url_tar_opts: "xzvf"
    #app_url_archive_format: tar
    #app_download_root: "{app_root}"
    #app_url_hash: "md5=123"
    #app_archive_test_exists: 'test ! -e {data_root}/www/index.php'
    js_dir: "{app_root}/front_end"
    gulp_targets: ["clean-build"]
    do_bower: false
    do_gulp: false
    configs:
      {% for i in ['base_pre.py', 'base_post.py',] %}
      "{{i}}":
        source: "salt://makina-projects/{name}/files/config.py"
        target: "{app_root}/{PROJECT}/settings/local/{{i}}"
        mode: 640
      {%endfor%}
      #foo.py:
      #  target: "{data_root}/test/bar.py"
    htaccess: "/etc/{name}.webaccess"
    doc_root: "{static}"
    #orig_py: /usr/bin/python3
    py: "{py_root}/bin/python"
    py_root: "{project_root}/venv"
    media_source: "{app_root}/media"
    domain: "{fqdn}"
    requirements: "{project_root}/requirements/prod.txt"
    server_aliases: []
    #force_ssl: false
    #disabled_urls []
    #ldap_url: "ldap://ldap.net/dc=m,dc=com?uid?sub?(objectClass=person)"
    #ldap_binddn: "uid=f,dc=e,dc=e"
    #ldap_binddn_passwd: "foo"
    #admin_url: /admin
    #admin_allowed_ips :[]
    DJANGO_SETTINGS_MODULE: "{PROJECT}.settings.{default_env}"
    WSGI: "{PROJECT}.wsgi:application"
    nginx_loglevel: "crit"
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
    adminmail: "root@{domain}"
    #ftp_root: "{data_root}/ftp"
    #ftp_ip: "x.x.x.x"
    #ftp_domain: "doo"
    #ftp_port_range: "22300 22400"
    #ftp_users:
    #  - eib: {password: "{ftp_password}",
    #          home: "{ftp_root}",
    #          user: eib-user, shell: /bin/bash, mode: "0771"}
    #  - ftpuser: {'password': 'xxx', "home": "{data_root}/foo"}
    create_admins: true
    admins:
      {% for i in ['sysadmin'] %}
      - {{i}}:
          mail: "{{i}}+{name}@{fqdn}"
          password: {{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_admin'+i)}}
      {%endfor %}
    static: "{data_root}/static"
    media: "{data_root}/media"
    host: localhost
    port: 8180
    workers: 10
    worker_class: sync
    worker_timeout: 9000
    compile_messages: true
    collect_static: true
    do_syncdb: true
    do_migrate: true
    do_syncdb_only_first_time: false
    # http_users:
    #   - root: foo
    # extra django settings to add
    # to the file
    django_settings:
      # order is important
      ADMINS: "placeholder (totally computed)"
      SITE_ID: 1
      DATABASES:
        default:
          # SQLITE
          # ENGINE: 'django.db.backends.sqlite3'
          # NAME: "{data_root}/{PROJECT}.sqlite"
          # GEODJANGO BACKEND !
          #    ENGINE: 'django.contrib.gis.db.backends.postgis'
          # Classical pg backend
          ENGINE: 'django.db.backends.postgresql_psycopg2'
          USER: '{name}'
          PORT: 5432
          HOST: '127.0.0.1'
          NAME: 'db'
          PASSWORD: '{name}secret'
          #ENGINE: 'django.db.backends.mysql'
          #USER: '{name}'
          #PORT: 3306
          #HOST: '127.0.0.1'
          #NAME: 'db'
          #PASSWORD: '{name}secret'
          #OPTIONS:
          #  init_command: 'SET storage_engine=INNODB'
      DEFAULT_FROM_EMAIL: '{adminmail}'
      SERVER_EMAIL: 'root@{fqdn}'
      MEDIA_ROOT: '{media}'
      STATIC_ROOT: '{static}'
      LANGUAGE_CODE: fr-fr
      DATE_FORMAT: 'iso-8601'
      ALLOWED_HOSTS:
        - localhost
        - 127.0.0.1
        - "{domain}"
        - "{fqdn}"
        - "10.5.0.1"
      CORS_ORIGIN_ALLOW_ALL: True
      # Internationalization
      # https://docs.djangoproject.com/en/1.6/topics/i18n/
      TIME_ZONE: 'Europe/Paris'
      DEBUG: False
      TEMPLATE_DEBUG: False
      USE_X_FORWARDED_HOST: True
      #CACHES:
      #  default:
      #    BACKEND: 'django.core.cache.backends.memcached.MemcachedCache'
      #    LOCATION: '127.0.0.1:11211'
      USER_MODULE: django.contrib.auth.models
      USER_CLASS: User
      SECRET_KEY: "{{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_secret_key', 64)}}"
      LOGGING:
        version: 1
        disable_existing_loggers: False
        filters:
          require_debug_false:
            '()': django.utils.log.RequireDebugFalse
        handlers:
          mail_admins:
            level: 'ERROR'
            class: django.utils.log.AdminEmailHandler
          console:
            level: 'DEBUG'
            class: 'logging.StreamHandler'
        loggers:
          '':
            handlers: ['console']
            level: 'DEBUG'
            propagate: False
          django.request:
             handlers: ['console', 'mail_admins']
             level: 'ERROR'
             propagate: True
          django:
             handlers: ['console', 'mail_admins']
             level: 'ERROR'
             propagate: True
      LANGUAGES:
       - "('fr', _('French'))"
       - "('en', _('English'))"
       - "('it', _('Italia'))"
      #ADDITIONAL_TEMPLATE_DIRS:
      #  - '{project_root}/calanques'
      # add custom extra_settings which will be processed at end only
      #extra_django_settings:
      #  FOO: bar
      #  BAR: true
      # settings rendered as is (not via the macro
      #extra_settings:
      #  FOO: "'bar'"
      #  BAR: "True"
  env_defaults:
    dev:
      django_settings:
        DEBUG: True
# vim:set ft=sls:
