"""
Override final test environment settings
"""
import os

INSTALLED_APPS += (
    'mysite.apps.apptest',  # required for testing some stuff
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
