"""
Override final prod environment settings
"""
import os

ALLOWED_HOSTS = []  # Hostname is REQUIRED, add it!

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

DEFAULT_FROM_EMAIL = ''
SERVER_EMAIL = ''
ADMINS = ()

# WARNING : don't collect static in the same directories global static non
# collected are stored ! Most of the time, this is in a public directory
# outside source code. Same goes for media, but this is more trivial.
MYSITE_PUBLIC_DIR = os.path.join(BASE_DIR, '...', 'public')
STATIC_ROOT = os.path.join(MYSITE_PUBLIC_DIR, 'static')
MEDIA_ROOT = os.path.join(MYSITE_PUBLIC_DIR, 'media')

STATIC_URL = '/static/'
MEDIA_URL = '/media/'
